[Unit]
Description=Docker Storage Setup
After=cloud-init.service
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/container-storage-setup /etc/sysconfig/docker-storage-setup /etc/sysconfig/docker-storage
EnvironmentFile=-/etc/sysconfig/docker-storage-setup

[Install]
WantedBy=multi-user.target
